.card-projects{
    display: flex;
    flex-wrap: wrap;
}

.card-box{
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.card-content{
    z-index: 1;
    position: absolute;
    text-align: center;
    background: linear-gradient(45deg, rgba(0,255,30,1) 0%, rgba(0,199,186,1) 72%);
    background-clip: text;
    color: transparent;
    font-weight: bold;;
    
}

.card-box button{
    padding: 10px;
    margin: 20px 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgb(0, 14, 45) 44%, rgba(50,0,59,1) 100%);
}

.card-box button a{
    background: linear-gradient(45deg, rgba(0,255,30,1) 0%, rgba(0,199,186,1) 72%);
    background-clip: text;
    color: transparent;
}

.card-box img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
